{% extends 'DemoApp5/base.html '%}
{% block title %}{{user.username}} Dashboard {% endblock %}
{% block content %}
<div class="container">
    <div class="card col-md-6 mx-auto ml-5">
        <div class="card-head">
            <h3>{{user.username}}</h3>
        </div>
        <div class="card-body">

        </div>
        <div class="card-body">

        </div>
    </div>
    <a href="" class="btn btn-primary p-5 m-3">college</a>
    <a href="" class="btn btn-primary p-5 m-3">students</a>
</div>
{% endblock %}